// Colors
$eggshell: #f0eee4;
$red: #b20000;
$midnight: #171f2f;
$white: #fff;
$black: #000;

// Typography
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-stack-handwriting: "Amatic SC", serif;

// Input range styles (see: https://github.com/darlanrod/input-range-scss)
$track-color: $black;
$thumb-color: mix($midnight, $white, 90%);

$thumb-radius: 1rem;
$thumb-height: 2rem;
$thumb-width: 2rem;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0.25rem;
$thumb-shadow-color: $black;
$thumb-border-width: 0;

$track-height: 0.5rem;
$track-shadow-size: 0;
$track-shadow-blur: 0;
$track-border-width: 0;

$track-radius: 0.25rem;

$ie-bottom-track-color: $track-color;

// Helper functions
@function perc($dividend, $divisor) {
  @return 100% * ($dividend / $divisor);
}

// Helper mixins
@mixin pos($x, $y, $w, $h) {
  height: perc($h, $doodle-height);
  left: perc($x, $doodle-width);
  top: perc($y, $doodle-height);
  width: perc($w, $doodle-width);
}
