* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: $eggshell;
  display: flex;
  font-family: $font-stack-handwriting;
  font-weight: 700;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem;

  @media (max-width: 600px) {
    font-size: 0.8em;
  }
}

button {
  appearance: none;
  background-color: transparent;
  border-radius: 0.25em;
  border-width: 0;
  color: $midnight;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  text-align: center;
  transition: transform 100ms ease-in-out;

  @media (max-width: 600px) {
    padding: 1em 0.5em;
  }

  @media (max-width: 480px) {
    padding: 0.5em;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    background-color: darken($red, 5%) !important;
    color: $white !important;
  }

  .no-touch & {
    &:hover {
      background-color: lighten($eggshell, 5%);
    }
  }

  .room--lights-off & {
    color: mix($midnight, $eggshell);

    .no-touch & {
      &:hover {
        background-color: rgba($black, 0.25);
      }
    }
  }
}
