.action-nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  user-select: none;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    padding: 0.25em;

    @media (max-width: 600px) {
      width: perc(1, 3);
    }
  }

  &__button {
    display: block;
    width: 100%;
  }
}
