$doodle-height: 1000;
$doodle-width: 700;
$doodle-ratio: $doodle-height / $doodle-width;
$doodle-scale: 0.5;

.doodle {
  margin-left: auto;
  margin-right: auto;
  max-width: 1px * $doodle-width * $doodle-scale;
  width: 100%;

  @media (max-width: 600px) {
    max-width: 50vw;
  }

  &__figure {
    padding-bottom: 100% * $doodle-ratio;
    position: relative;
    width: 100%;

    &__part {
      position: absolute;
    }
  }

  &__right-arm {
    $h: 141;
    $w: 133;

    @include pos(
      $x: 535,
      $y: 347,
      $w: $w,
      $h: $h
    );

    transform-origin: perc(28, $w) perc(119, $h);
  }

  &__left-arm {
    $h: 128;
    $w: 161;

    @include pos(
      $x: 16,
      $y: 351,
      $w: $w,
      $h: $h
    );

    transform-origin: perc(137, $w) perc(90, $h);
  }

  &__body {
    @include pos(
      $x: -12,
      $y: 112,
      $w: 707,
      $h: 844
    );
  }

  &__bowtie {
    $h: 209;
    $w: 323;

    @include pos(
      $x: 199,
      $y: 480,
      $w: $w,
      $h: $h
    );

    transform-origin: perc(164, $w) perc(89, $h);
  }

  &__cheeks {
    @include pos(
      $x: 179,
      $y: 341,
      $w: 353,
      $h: 49
    );
  }

  &__right-eye {
    @include pos(
      $x: 422,
      $y: 273,
      $w: 37,
      $h: 43
    );
  }

  &__left-eye {
    @include pos(
      $x: 246,
      $y: 278,
      $w: 46,
      $h: 37
    );
  }

  &__propeller {
    $h: 118;
    $w: 529;

    @include pos(
      $x: 108,
      $y:  46,
      $w: $w,
      $h: $h
    );

    transform-origin: perc(249, $w) perc(64, $h);
  }

  &__light {
    @include pos(
      $x: 20,
      $y: 121,
      $w: 653,
      $h: 432
    );

    &__inner {
      height: auto;
      width: 100%;
    }
  }
}
