.room {
  transition: background-color 1s ease-in-out;

  &--lights-on {
    background-color: $eggshell;
  }

  &--lights-off {
    background-color: $midnight;
  }

  &__nav {
    display: flex;

    &__light-switch {
      margin-right: 1.5rem;
    }

    &__color-slider {
      opacity: 0;
      transform: scaleX(0.8) scaleY(0);
      transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

      .room--lights-on & {
        pointer-events: none;
      }

      .room--lights-off & {
        opacity: 1;
        transform: none;
        transition-delay: 800ms;
      }
    }
  }

  &__night-light {
    mix-blend-mode: overlay;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &__inner {
      filter: blur(0);
      transition: filter 1s ease-in-out;
    }

    .room--lights-off & {
      opacity: 1;

      &__inner {
        filter: blur(20px);
      }
    }
  }
}
